<div class="container">
    <div class="left">
      <img src="assets/giphy (7).gif">
    </div>
    <div class="right">
       <img src="assets/giphy (5).gif" style="width: 100%; height: 100%; display: block">
       <div class="wrapper-form">
        <form [formGroup]="logInForm"> 
          <mat-form-field class="input-field">
            <input matInput placeholder="Username" formControlName="userName">
          </mat-form-field>
  
          <mat-form-field class="input-field">
            <input matInput type="password" placeholder="Password" formControlName="passWord">
          </mat-form-field>
        </form>
        <div style="color: red;">{{err}}</div>
        <button mat-flat-button color="black" (click)="logIn()">Log In</button>
      
            <a class="nav-link" href="login"><i class="fas fa-user fa-fw mr-2"></i>Quên mật khẩu</a>
           
            <a class="nav-link" href="register"><i class="fas fa-user fa-fw mr-2"></i>Đăng kí</a>
            
      </div>
     
    </div>
  </div>
