<div class="container">
        <div class="left">
          <img src="../../assets/giphy (7).gif">
        </div>
        <div class="right">
           <img src="../../assets/giphy (5).gif" style="width: 100%; height: 100%; display: block">
           <div class="wrapper-form">
            <form [formGroup]="registerForm"> 
              <mat-form-field class="input-field">
                <input matInput placeholder="Username" formControlName="userName">
                <mat-error *ngIf="registerForm.hasError('required', 'userName')">
                        Please enter your Username
                </mat-error>
              </mat-form-field>
      
              <mat-form-field class="input-field">
                <input matInput type="password" placeholder="Password" formControlName="passWord">
                <mat-error *ngIf="registerForm.hasError('required', 'passWord')">
                        Please enter your Password
                </mat-error>
              </mat-form-field>

              <mat-form-field class="input-field">
                    <input matInput type="password" placeholder="Confirm password" formControlName="confirmPass">
                    <mat-error *ngIf="registerForm.hasError('required', 'confirmpass')">
                            Please enter your ConfirmPassword
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="input-field">
                        <input matInput type="email" placeholder="Email" formControlName="email">
                        <mat-error *ngIf="registerForm.hasError('required', 'email')">
                                Please enter your Email
                        </mat-error>
                </mat-form-field>

                <mat-form-field class="input-field">
                        <input matInput placeholder="FirstName" formControlName="firstName">
                        <mat-error *ngIf="registerForm.hasError('required', 'firstName')">
                                Please enter your FirstName
                        </mat-error>
                </mat-form-field>

                <mat-form-field class="input-field">
                        <input matInput placeholder="LastName" formControlName="lastName">
                        <mat-error *ngIf="registerForm.hasError('required', 'lastName')">
                                Please enter your LastName
                        </mat-error>
                </mat-form-field>
            </form>
            <div style="color: red;">{{err}}</div>
            <button mat-flat-button color="black" (click)="register()">Register</button>
          </div>
          <!-- <div class="footer-right">Product is Made by Phat and Khanh</div> -->
        </div>
      </div>