<div class="example-container mat-elevation-z8">
        <h2>Edit Post</h2>
        <div class="example-loading-shade"
              *ngIf="isLoadingResults">
          <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <div class="button-row">
            <a mat-flat-button color="primary" (click)="postDetail()"><mat-icon>info</mat-icon>Detail</a>
        </div>
        <mat-card class="example-card">
          <form [formGroup]="postForm" (ngSubmit)="editPost()">
                <mat-form-field class="example-full-width">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="categoryId">
                      <mat-option *ngFor="let gl of categoryList" [value]="gl">
                            {{gl}}
                      </mat-option>
                    </mat-select>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <mat-label>Title</mat-label>
                      <input matInput placeholder="Title" formControlName="title">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <mat-label>ShortDescription</mat-label>
                      <input matInput placeholder="ShortDescription" formControlName="shortDescription">
                    </mat-form-field>

                    <ckeditor [editor]="Editor" [config]="config" class="example-full-width" matInput formControlName="fullDescription" (ready)="onReady($event)"></ckeditor>
                    
                    <mat-form-field class="example-full-width">
                      <mat-label>Published</mat-label>
                      <mat-select formControlName="published">
                            <mat-option *ngFor="let sl of publishList" [value]="sl">
                              {{sl}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
            <div class="button-row">
              <button type="submit" [disabled]="!postForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon>Save</button>
            </div>
          </form>
        </mat-card>
      </div>