<div class="example-container mat-elevation-z8">
        <h2>Post List</h2>
        <div class="example-loading-shade"
             *ngIf="isLoadingResults">
          <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <div class="button-row">
          <a mat-flat-button color="primary" [routerLink]="['/post/create']"><mat-icon>add</mat-icon> Create</a>
          <a mat-flat-button color="accent" [routerLink]="['/home']"><mat-icon>bar_chart</mat-icon> Home</a>
        </div>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="data" class="example-table"
                 matSort matSortActive="Title" matSortDisableClear matSortDirection="asc">
      
            <ng-container matColumnDef="Id">
              <th mat-header-cell *matHeaderCellDef>Id</th>
              <td mat-cell *matCellDef="let row">{{row.id}}</td>
            </ng-container>
      
           
            <ng-container matColumnDef="CategoryId">
              <th mat-header-cell *matHeaderCellDef>Category</th>
              <td mat-cell *matCellDef="let row">{{row.categoryId}}</td>
            </ng-container>
      
           
            <ng-container matColumnDef="Title">
              <th mat-header-cell *matHeaderCellDef>Title</th>
              <td mat-cell *matCellDef="let row">{{row.title}}</td>
            </ng-container>

               <!-- Cases Status Column -->
            <ng-container matColumnDef="Published">
              <th mat-header-cell *matHeaderCellDef>Published</th>
              <td mat-cell *matCellDef="let row"><input type="checkbox" [checked]="row.published" [disabled]="true"></td>
            </ng-container>

            
               <!-- Cases Status Column -->
            <ng-container matColumnDef="AddedDate">
              <th mat-header-cell *matHeaderCellDef>AddedDate</th>
              <td mat-cell *matCellDef="let row">{{row.addedDate | date:'medium'}}</td>
            </ng-container>


             <ng-container matColumnDef="AddedBy">
              <th mat-header-cell *matHeaderCellDef>AddedBy</th>
              <td mat-cell *matCellDef="let row">{{row.addedBy}}</td>
            </ng-container>


               <!-- Cases Status Column -->
            <ng-container matColumnDef="ModifiedDate">
              <th mat-header-cell *matHeaderCellDef>ModifiedDate</th>
              <td mat-cell *matCellDef="let row">{{row.modifiedDate | date:'medium'}}</td>
            </ng-container>


             <ng-container matColumnDef="ModifiedBy">
              <th mat-header-cell *matHeaderCellDef>ModifiedBy</th>
              <td mat-cell *matCellDef="let row">{{row.modifiedBy}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/post/detail/', row.id]"></tr>
          </table>
       
        </div>
      </div>