
    <header class="header text-center">
        <h1 class="blog-name pt-lg-4 mb-0"><a >Freeplan Photo Blog</a></h1>

        <nav class="navbar navbar-expand-lg navbar-dark">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navigation" class="collapse navbar-collapse flex-column">
                <div class="profile-section pt-3 pt-lg-0">
                    <img class="profile-image mb-3 rounded-circle mx-auto" src="assets/images/IMG_1686.jpg" alt="image">

                    <div class="bio mb-3">Hi, my name is Quoc Khanh. Iam a .Net Fresher in Nashtech Company.<br><a href="">Find out more about me</a></div><!--//bio-->
                    <ul class="social-list list-inline py-3 mx-auto">
                        <li class="list-inline-item"><a href="https://www.facebook.com"><i class="fab fa-facebook fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com"><i class="fab fa-linkedin-in fa-fw"></i></a></li>

                    </ul><!--//social-list-->
                    <hr>
                </div><!--//profile-section-->

                <ul class="navbar-nav flex-column text-left">
                    <li class="nav-item active">
                        <a class="nav-link" href="home" ><i class="fas fa-home fa-fw mr-2"></i>Blog Home <span class="sr-only">(current)</span></a>

                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown button
                            </button>
<!--                     
                            <div class="dropdown-menu" aria-labelledby="Category">

                                <a class="dropdown-item" href="@Url.Action("CategoryList", "Home", new { id = "Travel" })">Travel</a>
                                <a class="dropdown-item" href="@Url.Action("CategoryList", "Home", new { id = "Street" })">Street</a>
                                <a class="dropdown-item" href="@Url.Action("CategoryList", "Home", new { id = "Food" })">Food</a>
                                <a class="dropdown-item" href="@Url.Action("CategoryList", "Home", new { id = "Model" })">Model</a>

                            </div> -->
                         
                        </div>
                    <li class="nav-item" *ngIf = "this.cookieName">
                        <a class="nav-link" href="post/index"><i class="fas fa-book fa-fw mr-2"></i>Post Management</a>
                    </li>
                           
                    <li class="nav-item">
                        <a class="nav-link" href=""><i class="fas fa-user fa-fw mr-2"></i>About Me</a>
                    </li>
                    <div *ngIf = "this.cookieName" > 
                            <ul>
                             <li class="nav-item">
                                 <a class="title mb-1" title="Manage">Hello {{this.cookieName}}!!</a>
                             </li>
                             <li class="nav-item">
                                 <a class="nav-link" (click)="logout()" href="home" ><i class="fas fa-user fa-fw mr-2"></i>Logout</a>
                             </li>
                             </ul>
                         </div>
                       
                         <div *ngIf = "!this.cookieName"> 
                          <ul>
                                 <li class="nav-item">
                                 <a class="nav-link" href="login"><i class="fas fa-user fa-fw mr-2"></i>Login</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="register"><i class="fas fa-user fa-fw mr-2"></i>Register</a>
                                 </li>
                         </ul> 
                    </div>
                </ul>

                <div class="my-2 my-md-3">
                    <a class="btn btn-primary" href="" target="_blank">Get in Touch</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="main-wrapper">
        <section class="cta-section theme-bg-light py-5">
            <div class="container text-center">
                <h2 class="heading">DevBlog - A Blog Template Made For Developers</h2>
                <div class="intro">Welcome to my blog. Subscribe and get my latest blog post in your inbox.</div>
                <form class="signup-form form-inline justify-content-center pt-3" asp-controller="Home" asp-action="Index">
                    <div class="form-group">
                        <label class="sr-only" for="semail">Your email</label>
                        <input type="text" id="semail" name="SearchString" class="form-control mr-md-1 semail" placeholder="Search box">
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div><!--//container-->
        </section>

        <div class="blog-post px-3 py-5 p-md-5">
            <div class="container">
                <header class="blog-post-header">
                    <h2 class="title mb-2">{{postDetail.title}}</h2>
                    <div class="meta mb-3"><span class="date">{{postDetail.addedDate | date:'medium'}}</span></div>
                </header>
        
                <div class="blog-post-body">   
                                    <div class="document-editor__editable" [innerHTML]="postDetail.fullDescription">
                                        {{postDetail.fullDescription}}
                                    </div>
                </div>
        
             
<!-- comments container -->
		<div class="comment_block">
                
                        <!-- 
                            Comments are structured in the following way:
                
                            {ul} defines a new comment (singular)
                            {li} defines a new reply to the comment {ul}
                
                            example:
                
                            <ul>
                                <comment>
                                    
                                </comment
                
                                    <li>
                                        <reply>
                
                                        </reply>
                                    </li>
                
                                    <li>
                                        <reply>
                
                                        </reply>
                                    </li>
                
                                    <li>
                                        <reply>
                
                                        </reply>
                                    </li>
                            </ul>
                
                         -->
                
                         <!-- used by #{user} to create a new comment -->
                         <div class="create_new_comment" *ngIf = "this.token"  >
                
                            <!-- current #{user} avatar -->
                             <div class="user_avatar">
                                 <img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/73.jpg">
                             </div><!-- the input field -->
                             <div class="input_comment" [formGroup]="commentForm" >
                                 <input type="text" placeholder="Join the conversation.." formControlName="content">
                                 <input type="submit" align="right" [disabled]="!commentForm.valid" value="Submit" (click)="postComment()" >
                             </div>
                
                         </div>

                        
                
                
                         <!-- new comment -->
                         <div class="new_comment">
                
                            <!-- build comment -->
                             <ul class="user_comment" *ngFor = "let comment of listComments">
                
                                 <!-- current #{user} avatar -->
                                 <div class="user_avatar">
                                     <img src="https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/73.jpg">
                                 </div><!-- the comment body -->
                                 <div class="comment_body">
                                     <div>
                                            <div class="replied_to"><span class="user">{{comment.addedBy}}:</span></div>
                                            {{comment.content}}
                                     </div>
                                 </div>
                
                                 <!-- comments toolbar -->
                                 <div class="comment_toolbar">
                
                                     <!-- inc. date and time -->
                                     <div class="comment_details">
                                         <ul>
                                             <!-- <li><i class="fa fa-clock-o"></i> {{comment.addDate.getTime() | date:'medium'}}</li> -->
                                             <li><i class="fa fa-calendar"></i> {{comment.addDate | date:'medium'}}</li>
                                             <li><i class="fa fa-pencil"></i> <span class="user">{{comment.addedBy}}</span></li>
                                         </ul>
                                     </div><!-- inc. share/reply and love --><div class="comment_tools">
                                         <ul>
                                             <li><i class="fa fa-share-alt"></i></li>
                                             <li><i class="fa fa-reply"></i></li>
                                             <li><i class="fa fa-heart love"></i></li>
                                         </ul>
                                     </div>
                
                                 </div>
                            
                             </ul>
                
                         </div>
            
                
                        </div>
            </div>
        </div>

        
        <footer class="footer text-center py-2 theme-bg-dark">

            <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */-->
            <small class="copyright">Designed with <i class="fas fa-heart" style="color: #fb866a;"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>

        </footer>

    </div><!--//main-wrapper-->
    <!-- *****CONFIGURE STYLE (REMOVE ON YOUR PRODUCTION SITE)****** -->
    <div id="config-panel" class="config-panel d-none d-lg-block">
        <div class="panel-inner">
            <a id="config-trigger" class="config-trigger config-panel-hide text-center" href="#"><i class="fas fa-cog fa-spin mx-auto" data-fa-transform="down-6"></i></a>
            <h5 class="panel-title">Choose Colour</h5>
            <ul id="color-options" class="list-inline mb-0">
                <li class="theme-1 active list-inline-item"><a data-style="assets/css/theme-1.css" href="#"></a></li>
                <li class="theme-2  list-inline-item"><a data-style="assets/css/theme-2.css" href="#"></a></li>
                <li class="theme-3  list-inline-item"><a data-style="assets/css/theme-3.css" href="#"></a></li>
                <li class="theme-4  list-inline-item"><a data-style="assets/css/theme-4.css" href="#"></a></li>
                <li class="theme-5  list-inline-item"><a data-style="assets/css/theme-5.css" href="#"></a></li>
                <li class="theme-6  list-inline-item"><a data-style="assets/css/theme-6.css" href="#"></a></li>
                <li class="theme-7  list-inline-item"><a data-style="assets/css/theme-7.css" href="#"></a></li>
                <li class="theme-8  list-inline-item"><a data-style="assets/css/theme-8.css" href="#"></a></li>
            </ul>
            <a id="config-close" class="close" href="#"><i class="fa fa-times-circle"></i></a>
        </div><!--//panel-inner-->
    </div><!--//configure-panel-->




