<div class="example-container mat-elevation-z8">
        <h2>Post Detail</h2>
        <div class="example-loading-shade"
             *ngIf="isLoadingResults">
          <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <div class="button-row">
          <a mat-flat-button color="primary" [routerLink]="['/post/index']"><mat-icon>list</mat-icon>Index</a>
        </div>
        <mat-card class="example-card">
          <mat-card-content>
            <dl>
              <dt>Catagory:</dt>
              <dd>{{post.categoryId}}</dd>                 
              <dt>Title:</dt>
              <dd>{{post.title}}</dd>               
              <dt>ShortDescription:</dt>
              <dd>{{post.shortDescription}}</dd>
              <dt>FullDescription:</dt>
              <dd>{{post.fullDescription}}</dd>
              <dt>Published:</dt>
              <dd>{{post.published}}</dd>
              <dt>AddedDate:</dt>
              <dd>{{post.addedDate | date:'medium'}}</dd>
              <dt>AddedBy:</dt>
              <dd>{{post.addedBy}}</dd>
              <dt>ModifiedDate:</dt>
              <dd>{{post.modifiedDate | date:'medium'}}</dd>
              <dt>ModifiedBy:</dt>
              <dd>{{post.modifiedBy}}</dd>
            </dl>
          </mat-card-content>
          <mat-card-actions>
            <a mat-flat-button color="primary" [routerLink]="['/post/edit/', post.id]"><mat-icon>edit</mat-icon> Edit</a>
            <a mat-flat-button color="warn" (click)="deletePost(post)"><mat-icon>delete</mat-icon> Delete</a>
          </mat-card-actions>
        </mat-card>
      </div>