
    <header class="header text-center">
        <h1 class="blog-name pt-lg-4 mb-0"><a >Freeplan Photo Blog</a></h1>

        <nav class="navbar navbar-expand-lg navbar-dark">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navigation" class="collapse navbar-collapse flex-column">
                <div class="profile-section pt-3 pt-lg-0">
                    <img class="profile-image mb-3 rounded-circle mx-auto" src="assets/images/IMG_1686.jpg" alt="image">

                    <div class="bio mb-3">Hi, my name is Quoc Khanh. Iam a .Net Fresher in Nashtech Company.<br><a href="">Find out more about me</a></div><!--//bio-->
                    <ul class="social-list list-inline py-3 mx-auto">
                        <li class="list-inline-item"><a href="https://www.facebook.com"><i class="fab fa-facebook fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com"><i class="fab fa-linkedin-in fa-fw"></i></a></li>

                    </ul><!--//social-list-->
                    <hr>
                </div><!--//profile-section-->

                <ul class="navbar-nav flex-column text-left">
                    <li class="nav-item active">
                        <a class="nav-link"  href="/home" ><i class="fas fa-home fa-fw mr-2"></i>Blog Home <span class="sr-only">(current)</span></a>

                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown button
                            </button>
<!--                     
                            <div class="dropdown-menu" aria-labelledby="Category">

                                <a class="dropdown-item" href="@Url.Action("CategoryList", "Home", new { id = "Travel" })">Travel</a>
                                <a class="dropdown-item" href="@Url.Action("CategoryList", "Home", new { id = "Street" })">Street</a>
                                <a class="dropdown-item" href="@Url.Action("CategoryList", "Home", new { id = "Food" })">Food</a>
                                <a class="dropdown-item" href="@Url.Action("CategoryList", "Home", new { id = "Model" })">Model</a>

                            </div> -->
                         
                        </div>
                    <li class="nav-item" *ngIf = "this.cookieName">
                        <a class="nav-link" href="post/index"><i class="fas fa-book fa-fw mr-2"></i>Post Management</a>
                    </li>
                           
                    <li class="nav-item">
                        <a class="nav-link" href="home"><i class="fas fa-user fa-fw mr-2"></i>About Me</a>
                    </li>
                    
         
                   <div *ngIf = "this.cookieName" > 
                       <ul>
                        <li class="nav-item">
                            <a class="title mb-1" title="Manage">Hello {{this.cookieName}}!!</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="logout()" href="home" ><i class="fas fa-user fa-fw mr-2"></i>Logout</a>
                        </li>
                        </ul>
                    </div>
                  
                    <div *ngIf = "!this.cookieName"> 
                     <ul>
                            <li class="nav-item">
                            <a class="nav-link" href="login"><i class="fas fa-user fa-fw mr-2"></i>Login</a>
                            </li>
                            <li class="nav-item">
                               <a class="nav-link" href="register"><i class="fas fa-user fa-fw mr-2"></i>Register</a>
                            </li>
                    </ul> 
                    </div>

                </ul>

                <div class="my-2 my-md-3">
                    <a class="btn btn-primary" href="home" target="_blank">Get in Touch</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="main-wrapper">
        <section class="cta-section theme-bg-light py-5">
            <div class="container text-center">
                <h2 class="heading">DevBlog - A Blog Template Made For Developers</h2>
                <div class="intro">Welcome to my blog. Subscribe and get my latest blog post in your inbox.</div>
                <form class="signup-form form-inline justify-content-center pt-3" asp-controller="Home" asp-action="Index">
                    <div class="form-group">
                        <label class="sr-only" for="semail">Your email</label>
                        <input type="text" id="semail" name="SearchString" class="form-control mr-md-1 semail" placeholder="Search box">
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div><!--//container-->
        </section>

    <div>
        <section class="blog-list px-3 py-5 p-md-5">
            <div class="container">
                <div align="right">
        
                    <a *ngIf = "this.cookieName" class="btn btn-primary" style="color: #FFFFFF;background-color: #5FCB71;border-color: #5FCB71" href="post/create">Tạo Blog mới</a>
        
                </div>
                
                    <div class="item mb-5" *ngFor = "let post of showPosts" >
                        <div class="media">
                            <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="/assets/images/blog/blog-post-thumb-1.jpg" alt="image">
                            <div class="media-body">   
                                <h3 class="title mb-1"><a [routerLink] = "['/detail',post.id]" >{{post.title}}</a></h3>
                                <div class="meta mb-1"><span class="date">{{post.addedDate | date:'medium'}}</span></div>
                                <div class="intro">{{post.shortDescription}}</div>
                                <a class="more-link" [routerLink] = "['/detail',post.id]" >Read more &rarr;</a>
                            </div><!--//media-body-->
                        </div><!--//media-->
                    </div><!--//item-->   
                    <div >
                        <button class="btn btn-primary mr-3" style="color: #FFFFFF;background-color: #5FCB71;border-color: #5FCB71" (click)="sortPage(false)" [disabled]= "!isShowPre || this.pageNumber === this.posts.length">
                            Previous
                           </button>
                           <button class="btn btn-primary" style="width:100px ; color: #FFFFFF;background-color: #5FCB71;border-color: #5FCB71" (click)="sortPage(true)" [disabled]= "!isShowNext || this.pageNumber === this.posts.length">
                            Next
                           </button>
                    </div>
                   
         
            </div>
        </section>
    </div>

        <footer class="footer text-center py-2 theme-bg-dark">

            <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */-->
            <small class="copyright">Designed with <i class="fas fa-heart" style="color: #fb866a;"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>

        </footer>

    </div><!--//main-wrapper-->
    <!-- *****CONFIGURE STYLE (REMOVE ON YOUR PRODUCTION SITE)****** -->
    <div id="config-panel" class="config-panel d-none d-lg-block">
        <div class="panel-inner">
            <a id="config-trigger" class="config-trigger config-panel-hide text-center" href="#"><i class="fas fa-cog fa-spin mx-auto" data-fa-transform="down-6"></i></a>
            <h5 class="panel-title">Choose Colour</h5>
            <ul id="color-options" class="list-inline mb-0">
                <li class="theme-1 active list-inline-item"><a data-style="assets/css/theme-1.css" href="#"></a></li>
                <li class="theme-2  list-inline-item"><a data-style="assets/css/theme-2.css" href="#"></a></li>
                <li class="theme-3  list-inline-item"><a data-style="assets/css/theme-3.css" href="#"></a></li>
                <li class="theme-4  list-inline-item"><a data-style="assets/css/theme-4.css" href="#"></a></li>
                <li class="theme-5  list-inline-item"><a data-style="assets/css/theme-5.css" href="#"></a></li>
                <li class="theme-6  list-inline-item"><a data-style="assets/css/theme-6.css" href="#"></a></li>
                <li class="theme-7  list-inline-item"><a data-style="assets/css/theme-7.css" href="#"></a></li>
                <li class="theme-8  list-inline-item"><a data-style="assets/css/theme-8.css" href="#"></a></li>
            </ul>
            <a id="config-close" class="close" href="#"><i class="fa fa-times-circle"></i></a>
        </div><!--//panel-inner-->
    </div><!--//configure-panel-->



